{% extends "base.html" %}

{% load static %}
{% block content %}
<div class="login-page mt-5 mb-5">
    <div class="page-content">
        <div class="container">
            <div class="d-flex justify-content-center mt-3">
                <div class="col-md-4 col-lg-4 col-sm-12">
                    <h1 class="mt-5 mb-5 text-center">Welcome back</h1>
                    <div class="card my-5 p-5">
                        <h2 class="my-3">Login</h2>
                        <div class="p-3" id="sign-in">
                            <!-- Display non-field errors -->
                            {% if form.non_field_errors %}
                            <div class="alert alert-danger">
                                {% for error in form.non_field_errors %}
                                    <p>{{ error }}</p>
                                {% endfor %}
                            </div>
                            {% endif %}

                            <form method="post" class="mt-5">
                                {% csrf_token %}
                                <!-- Username or Email Field -->
                                <div class="form-group mb-5">
                                    <label>Username or email address *</label>
                                    {{ form.username }}
                                </div>

                                <!-- Password Field -->
                                <div class="form-group mb-5 mt-5">
                                    <label>Password *</label>
                                    {{ form.password }}
                                </div>

                                <!-- Remember Me Checkbox -->
                                <div class="form-checkbox d-flex align-items-center justify-content-between mt-5">
                                    <input type="checkbox" 
                                           class="custom-checkbox" 
                                           id="remember1" 
                                           name="remember_me" 
                                           {% if request.POST.remember_me %}checked{% endif %}>
                                    <label for="remember1">Remember me</label>
                                    <a href="{% url 'password_reset' %}" class="nav-link">Lost your password?</a>
                                </div>

                                <!-- Register Link -->
                                <a href="{% url 'register' %}" class="btn nav-link mt-5 mb-5">No account? Create</a>

                                <!-- Submit Button -->
                                <button type="submit" class="btn btn-primary form-control mb-5 text-bold">Sign In</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
