{% extends "base.html" %}


{% load static %}
{% block content %}
<div class="login-page_ mt-5 mb-5">

<div class="page-content ">
   
    <div class="container ">
        <div class=" d-flex justify-content-center mt-3 ">
           
        <div class="col-md-4 col-lg-4 col-sm-12 ">
            <h1 class="mt-5 mb-5 text-center">Welcome back</h1>
        <div class="card my-5 p-5 ">
<div class="auth-container">
    <div class="auth-box">
        <h1>Password assistance</h1>
        <p>Enter the email address associated with your account.</p>
        <form method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="{{ form.email.id_for_label }}">Email</label>
                {{ form.email }}
            </div>
            <button type="submit" class="btn btn-primary form-control my-3">Continue</button>
        </form>
        <div class="auth-divider">
            <h5>Remember your password?</h5>
        </div>
        <a href="{% url 'login' %}" class="nav-link btn">Sign in</a>
    </div>
</div>
</div>
</div>
</div>
</div>
</div>
{% endblock %}