.header-middle,.dropdown{
   background-color: #12224d !important;
   color: #fff;
  

}
.header-bottom,.category-toggle,.footer-top{
   background-color: #0c1733 !important;
   color: #fff;
   padding: auto;
  
  

}
.header-search {
    color: #fff !important;
}
.header-middle{
    font-size: 0.5rem;
    border-bottom: 1px solid #eee;
    padding: 1.2rem 0 0 0 !important;
    border: none;
}
.btn-search1{
    background:#ec7a5c !important;
    
}
.btn-primary{
    background:#ec7a5c !important;
    border-color: #ec7a5c!important;
    color: #fff ;
    font-weight: 700;
}

